@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');

:root {font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 0.7em;}

body {margin: 0px;}


header {display: block;
        align-content: center;
        flex-direction: row;
        padding: 0px;}

header div{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    width: 100%;
    background-color: #1207AB;
    border: none;
    margin-bottom: 20px;
    color: white;
    font-weight: 200;
    padding: 5px }


a.cohort{
    background-color: inherit;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    font-size: 1.5em;
}





a {border: 2px; background-color:rgb(56, 175, 169); padding: 10px; text-decoration: none;
margin: 5px;}
a:link {color: blue;}
a:visited {color: rgb(255, 255, 255);}
a:hover {border: #19182c;
    color:#19182c;}
a:active {color: cyan;}

div {width: 300px;
margin: auto;
border: 2px solid red}

span {width: 300px;
margin: auto;
border: 2px dashed black;
display: block;
}